<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip" />
    <package id="greenshot" />
    <package id="googlechrome" />
    <package id="keepass" />
    <package id="keepass-keepasshttp" >
    <package id="conemu" />
    <package id="putty" />
    <package id="visualstudiocode" />
</packages>